.feynman {
  padding-top: 100px;
  position: relative;
  height: 790px;
  background-color: #f2f2f2;
  background-image: url("../../images/feynman.png");
  background-position: bottom left;
  background-size: initial;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
