.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

@media screen and (max-width: 1280px) {
  .header {
    min-height: 400px;
    max-height: 600px;
  }
}
