.table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 60px;
  padding: 60px 0 0 0;
  margin: 0 0 100px 0;
  width: 1100px;
  justify-content: space-between;
  z-index: 2;
  list-style: none;
}
