.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  margin: 0;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

@media screen and (max-width: 1280px) {
  .header__subtitle {
    font-size: 16px;
    width: 200px;
  }
}
