.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
