.header__title {
  align-self: center;
  margin: 0;
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

@media screen and (max-width: 1280px) {
  .header__title {
    font-size: 57px;
    width: 300px;
  }
}
