.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

@media screen and (max-width: 1280px) {
  .header__main-illustration {
    transform: scale(.75) translate(16.65%, 16.65%);
  }
}
