.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  text-decoration: black;
}

.text_white {
  color: white;
}

.text_space-around_none {
  margin: 0;
}

.description_space-top {
  margin-top: 100px;
}

.digits_space-vertical {
  margin: 100px 0 100px 0;
}

.kaufman_space-vertical {
  margin: 90px 0 90px 0;
}

/*создание темного фона*/
.background_theme_dark {
  background-color: #1f1f1f;
  z-index: -2;
}

/*создание светлого фона*/
.background_theme_bright {
  background-color: #f2f2f2;
}

.font-weight_bold {
  font-weight: bold;
}

.font-weight_normal {
  font-weight: normal;
}

.flex-row {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

/*установка отцентровки флекс-элемента в шапке*/
.flex-box_centered {
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.flex-box_space-between {
  justify-content: space-between;
}

.list {
  list-style: none;
  padding: 0;
  text-align: start;
}


.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  /* выше установили ограничения для секции */
}

.logo {
  background-image: url(../images/logo_place_header.svg);
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
}

.header__subtitle {
  width: 338px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  margin: 0px;
  line-height: 25px;
  font-size: 18px;
}

.header__link, .header__link:visited {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
 background-image: url(../images/header-image.png);
 width: 756px;
 height: 608px;
 background-size: 100%;
 position: absolute;
 right: 0;
 bottom: 0;
 z-index: 2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
}


.two-columns {
  width: 80%;
  margin: 100px 0 100px 0;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  text-decoration: none;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph_central {
  margin: 30px 0 30px 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
}


.section-title {
  line-height: 1.15;
  font-size: 60px;
}

.section-title_place_digits {
  text-align: center;
  align-self: center;
  width: 60%;
  margin-top: 100px;
  margin-bottom: 20px;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
}

.section-subtitle_place_digits {
  text-align: center;
  align-self: center;
  width: 60%;
  margin: 0;
}

.table {
  width: 1100px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 100px;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  padding: 0;
}

.table__heading, .table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
}

.table__text, .table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
}

.table__text_space_top {
  margin-top: 20px;
}


.feynman {
  height: 790px;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  position: relative;
}

.feynman__title {
  height: auto;
  width: 648px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  width: auto;
  text-align: center;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
}

.feynman__link:link, .feynman__link:visited {
  color: black;
  text-decoration: none;
}


.kaufman {
  position: relative;
  overflow: hidden;
}

.section-title_place_kaufman {
  width: 60%;
  align-self: center;
  text-align: center;
  margin: 90px 0 20px 0;
}

.section-title_theme_dark {
  line-height: 69px;
  font-size: 60px;
}

.section-subtitle_place_kaufman {
  width: 60%;
  align-self: center;
  text-align: center;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  text-align: center;
}

.table_theme_dark {
  margin: auto;
  margin-top: 0;
  margin-bottom: 90px;
  padding-top: 0;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  padding: 0px;
}

.table__text_theme_dark {
  margin-top: 20px;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: -1;
}


.footer__columns {
  width: 90%;
  align-self: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.footer__column_content_copyright {
  flex-basis: 771px;
}

.footer__author {
  margin: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  margin-bottom: 16px;
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
