.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  text-decoration: black;
}


.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  align-self: center;
  margin: 0;
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  margin: 0;
  z-index: 2;
  line-height: 25px;
  font-size: normal;
}

.header__link, .header__link:visited {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  background-image: url(../images/header-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}


.description {
  display: flex;
  flex-direction: column;
}

.two-columns {
  display: flex;
  width: 80%;
  margin: 100px 0 0 0;
  align-self: center;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-child {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}


.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 100px 0 20px 0;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  margin: 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 100px 0;
  width: 1100px;
  justify-content: space-between;
}

.table__cell {
  margin: 60px 0 0 0;
  width: 250px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}


.feynman {
  position: relative;
  height: 790px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: bottom left;
  background-size: initial;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  width: 648px;
  text-align: center;
  padding-top: 100px;
  margin: 0 0 70px 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  width: auto;
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}


.kaufman {
  background-color: #1f1f1f;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
}

.section-title_theme_dark {
  margin: 90px 0 20px 0;
  line-height: 68px;
}

.table_theme_dark {
  margin-bottom: 90px;
  z-index: 2;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}


.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
  display: flex;
  flex-direction: column;
}

.footer__columns {
  align-self: center;
  margin: 60px 0 40px 0;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  margin: 18px 0 18px 0;
  width: 30%;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  line-height: 30x;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link, .footer__column-link:visited {
  text-decoration: none;
  color: white;
}

.footer__social-icon {
  margin: 0 10px 0 0;
  padding: 0;
  width: 16px;
  height: 16px;
}
